body, h1, p, input {
  font-family: 'Varela Round', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 62.5vh;
  width: 600px !important;
}

.applicant{
  /* make the items centered*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* make the items centered*/
  margin: 0 auto;
  width: 600px !important;
}


.view-button {
  margin-right: 10px;
}